.nav-link{
    display: flex;
    color: aliceblue;
    flex-direction: row;
    text-decoration:none;

}

.navbar-nav{
    display: flex;
    flex-direction: row;
    position: fixed;
    left:1000px;
   

}

.nav-item{
    display: flex;
    margin-left: 20px;
}

.barra{
    background-color: black;
    height: 70px;
    top:10px;
}